html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
a {
    color: #44864d;
}
a:hover {
    color: #509e5b;
}

/* ===== NAV =====*/
.nav-app{
    border: 1px solid #e3e6f0;
    border-radius: 0 0 .35rem .35rem;
}
.navbar-brand{
  background-image: url(/img/logo.png);
  background-size: contain;
  background-repeat: repeat-x;
  height: 2.5rem;
  width: 8rem;
}
.btn-primary {
    background-color: #44864d;
    border-color: #44864d;
}
.btn-primary:hover {
    background-color: #509e5b;
    border-color: #509e5b;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #509e5b;
    border-color: #509e5b;
}
/* ===== END Nav =====*/

/* ===== Titles =====*/
.title {
    font-size: 84px;
    margin-bottom: 30px;
}
/* ===== END Titles =====*/

.full-height {
    height: 100vh;
}
/* ===== Content =====*/
.bg-gradient-primary {
    background-color: #0f6848;
    background-image: linear-gradient(180deg,#28a961 10%,#0f6848 100%);
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}
/*  TIENDA  */
.store-title{
    color: #fdfdfd;
    text-shadow: #aaaaaaeb 3px 3px 10px;
}
.navigation{
    margin: 0 auto;
}
.page-link, .page-link:hover {
  color: #636b6f;
}
/*   PRODUCTOS TIENDA  */
.card { /* Diseño de las tarjetas*/
    background-clip: border-box;
    background-color: #fff;
    border: 0 solid rgba(0, 0, 0, 0.125);
    border-radius: 0.35rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow: hidden;
    position: relative;
    word-wrap: break-word;
}
.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
    -webkit-transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25);
}
.h-100 {
    height: 100% !important;
}
.post-preview-meta-details {
  padding-bottom: 10px;
}
.post-preview-meta-details ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.post-preview-meta-details a {
  color: #9e9e9e;
}
.post-preview-meta-details a:hover {
  color: #c7ccdb;
}
.card-title {
    font-size: 1rem;
}
.item_title{
  display: flex;
  justify-content: space-between;
}
.card-text{
  font-size: 0.85rem;
  text-align: center;
}
.post-preview .post-preview-meta {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}
.post-preview .post-preview-meta .post-preview-meta-img {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 100%;
    margin-right: 0.5rem;
    flex-shrink: 0;
}
.info {
  font-size: 14px;
  color: #969696;
  margin-bottom: 10px;
}
.style {
  font-size: 16px;
  margin-bottom: 20px;
}
.old-price {
  color: #f00;
  text-decoration: line-through;
}
/*  END PRODUCTOS TIENDA  */

/* ===== END Content =====*/

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content-primary {

}
