@font-face {
  font-family: 'Quicksand', sans-serif;
}
*{
  font-family: 'Quicksand', sans-serif;
}
.rem6{
  font-size: 6rem;
}
.text-primary {
    color: #44864d!important;
}
.text-decoration-none {
    text-decoration: none;
}
.text-decoration-none:hover {
    text-decoration: none;
}

.table tbody tr:hover {
    color: #687281;
    background-color: rgba(227, 230, 236, 0.25);
}
.custom-select {
  background: url(../vendor/fontawesome-free/svgs/regular/chevron-down-solid.svg) no-repeat right .75rem center/8px 10px;
}
.display-in-block{
  display: inline-block;
}
/* FORM  */
.form-control:focus {
    border-color: #a7efb0;
    box-shadow: 0 0 0 0.2rem rgba(177, 214, 182, 0.53);
}
.item-group {
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    height: 100%;
    padding: .5rem;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(177, 214, 182, 0.53);
}
.alert-icon {
    position: relative;
    display: -webkit-box;
    display: flex;
    padding: 0;
    width: 100%;
}
.alert-icon button.close {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
}
.alert-heading{
    font-weight: 600;
    margin-bottom: 0;
    margin-top: .5rem;
}
.alert-icon .alert-icon-aside {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    font-size: 1.5rem;
}
.alert-icon .alert-icon-content {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}
/* END FORM */
.lift {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
    -webkit-transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.lift:hover {
    transform: translateY(-0.3333333333rem);
    box-shadow: 0 0.5rem 2rem 0 rgba(31, 45, 65, 0.25);
}

/* ======= Nav ======= */
.sidebar-dark .sidebar-brand {
    background-image: url(/img/logo.png);
    background-size: contain;
    background-repeat: repeat-x;
    height: 2.5rem;
    margin: 1rem 0 0 1rem;
    width: 8rem;
}
.sidebar-dark .nav-item.active .nav-link {
    color: #44864d;
}
.sidebar-dark .nav-item.active .nav-link i {
    color: #44864d;
}
.sidebar-dark .sidebar-heading {
    color: #44864d;
}
.store{
  font-size: 20px !important;
}
.sidebar-dark .nav-item .nav-link {
    color: #44864d;
}
.sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
    color: #509e5b;
}
.sidebar-dark .nav-item .nav-link i {
    color: #44864d;
}

.sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
    color: #509e5b;
}
.sidebar-dark .nav-item .nav-link[data-toggle=collapse]::after {
    color: #44864d;
}
.btn-primary {
    background-color: #44864d;
    border-color: #44864d;
}
.btn-primary:hover {
    background-color: #509e5b;
    border-color: #509e5b;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #509e5b;
    border-color: #509e5b;
}
.topbar .dropdown-list .dropdown-header {
    background-color: #44864d;
    border: 1px solid #44864d;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
}
.sidebar .nav-item .collapse .collapse-inner .collapse-item, .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    white-space: inherit;
}

.mr-auto, .mx-auto {
    margin-top: 1rem !important;
}
.btn-link {
    color: #44864d;
}
.btn-link:hover {
    color: #509e5b;
}
@media (min-width: 768px){
    .sidebar .nav-item .nav-link span {
        font-size: 1rem;
        display: inline;
    }
}
@media (min-width: 576px){

    .form-inline .custom-select, .form-inline .input-group {
        padding-right: 1rem;
    }
}
/* ======= END Nav ======= */

/* ======= Sidebar ======= */
.bg-gradient-primary {
    background-color: #f8f9fc;
    background-image: linear-gradient(180deg,#edeef0 10%,#f8f9fc 100%);
}
.sidebar-dark #sidebarToggle {
    background-color: #44864d;
}
.sidebar-dark #sidebarToggle:hover {
    background-color: #509e5b;
}
/* ======= END Sidebar ======= */

/* ======= Content ======= */
a {
    color: #44864d;
}
a:hover {
    color: #509e5b;
}
.post-preview-meta-details ul li{
    list-style-type: none;
}
.page-link {
    color: #44864d;
}
.page-link:hover {
    color: #509e5b;
}
.item-details{
    flex-direction: inherit;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
.carousel-item img{
    width: 100%;
}
.item-viewer {
    padding-right: 0;
    padding-left: 0;
}
.add-cart {
    display: block;
    font-size: 1.2rem;
    margin-bottom: .5rem;
}
.card-outline-secondary {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}
/* ======= END Content ======= */

/* ======= Footer ======= */

footer.sticky-footer .copyright {
    font-size: 1rem;
}

/* ======= END Footer ======= */



#mceu_13{
    border: 1px solid #d1d3e2;
    border-radius: .35rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}
#mceu_14:before{
    content: "Descripción del artículo";
}
#mceu_14{
    padding: .7rem;
    font-size: 1.2rem;
}
#mceu_14, #mceu_19, #mceu_28-body {
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    font-family: 'Quicksand', sans-serif !important;
}
.mce-btn {
    border: none !important;
    border-radius: calc(.35rem - 1px) calc(.35rem - 1px);
    color: #44864d !important;
    background-color: #f8f9fc !important
}
.mce-btn:hover, .mce-btn:focus {
    color: #44864d !important;
    background-color: #f8f9fc !important
    border-color: none !important;
}

.mce-txt, .mce-text, .mce-content-body, #tinymce {
   font-family: 'Quicksand', sans-serif !important;
   font-size: 1rem !important;
}
#mceu_15, #mceu_16, #mceu_17, #mceu_18, #mceu_30 {
    display: none;

}
